#click{
    height: 0;
    width: 0;
    position: fixed;
    top: 0;
    left: 50%;
    overflow: hidden;
    transition: all 2s ease-in-out;
    }
    #click:target{
        height: 30%;
        width: 30%;
        top: 20%;
        left: 50%;
        background-color: aqua;
    }
    #lightbox:visited{
        background-color: black;

    }